.tpl-policy {
  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
  }
  & h1 {
    font-size: 5rem;
    line-height: 5.2rem;
    @media (--bp-lg) {
      font-size: 6rem;
      line-height: 6.2rem;
    }
  }
  & h2 {
    font-size: 4.2rem;
    line-height: 4.4rem;
    @media (--bp-xl) {
      font-size: 5.4rem;
      line-height: 5.6rem;
    }
  }
  & h3 {
    font-size: 3.6rem;
    line-height: 3.8rem;
    @media (--bp-xl) {
      font-size: 4.2rem;
      line-height: 4.4rem;
    }
  }
  & h4 {
    font-size: 3rem;
    line-height: 3.2rem;
    @media (--bp-xl) {
      font-size: 3.4rem;
      line-height: 3.6rem;
    }
  }
  h5 {
    font-size: 2.8rem;
    line-height: 3rem;
    @media (--bp-xl) {
      font-size: 3rem;
      line-height: 3.2rem;
    }
  }
  & h6 {
    font-size: 2.2rem;
    line-height: 2.4rem;
    @media (--bp-xl) {
      font-size: 2.6rem;
      line-height: 2.8rem;
    }
  }
  & p {
    font-weight: 400;
    margin-bottom: 1.5em;
    line-height: 1.5;
    color: black;
  }
  & strong,
  b {
    font-weight: 600;
  }
  & a {
    color: var(--color-blue);
    text-decoration: none;
  }
  & ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  margin-bottom: 10rem;
  & h5 {
    font-size: 2.8rem;
    line-height: 3rem;
  }

  & h1 {
    font-size: 5rem;
    line-height: 5.2rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: #0f1941;
    @media (--bp-lg) {
      font-size: 6rem;
      line-height: 6.2rem;
    }
  }

  & p {
    & a {
      color: #2175d9;
      text-decoration: none;
    }
  }
& .row1{
    max-width: 80rem;
    margin: auto;
}
  & p ul {
    padding-left: 2rem;
    list-style: disc;
    margin-bottom: 3rem;
    & li {
      line-height: 1.6;
      & :not(:last-child) {
        margin-bottom: 2rem;
      }
      & a {
        color: #2175d9;
        text-decoration: none;
      }
    }
  }

  & .l-header__clientlogo {
    display: none;
  }

  & .header {
    margin-top: 14rem;
    margin-bottom: 14rem;
  }

  & .single-article__back {
    & .row {
      max-width: 140rem;
    }
    & a {
      display: flex;
      &:hover {
        & div {
          &:first-of-type {
            transform: translate(-5px, 0);
          }
        }
      }
      & div {
        margin-right: 5px;
      }
    }
  }
}
